{% comment %} {% extends 'accounts/layouts/maintemp.html' %} {% endcomment %}

<title>Feed</title>

<body>
  {% include 'Vox/navbar.html' %}
</body>

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Posts</h1>
      {% for data in form %}

      <div class="card" style="width: 50%">
        <img src="{{ data.postimg.url}}" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">{{data.name}}</h5>
          <p class="card-text">{{data.quotes}}</p>
        </div>
        <div class="card-body">
          <a href="{% url 'like' data.id %}" class="card-link">Like</a>
          <a href="{% url 'unlike' data.id %}" class="card-link">Unlike</a>
          <a href="#" class="card-link">Comment</a>
        </div>
      </div>
      <br /><br />
      {% endfor %}
    </div>
  </div>
</div>

{% endblock content %}
