
<title>Login</title>

<body>
  {% include 'Vox/navbar.html' %}
</body>

<div class="userlogin">
  <form id="userlogin" method="POST" ,action="/userlogin/">
    {% csrf_token %}
    <container>
    <h1>Login</h1>
    <br />
    <br />
    <span class="logintext">USERNAME </span>
    <input name="username" type="text" placeholder="username" class="input" />
    <br />
    <span class="logintext">PASSWORD </span>
    <input
      type="password"
      placeholder="password"
      name="password"
      class="input"
    />
    <br />
    <br />
    <button type="submit" class="btn btn-dark">Login</button>
    <br />
    <br />
    </container>
  </form>
</div>
